body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name{
    color: orange
}

.flexible-container{
    display: flex;
    padding-bottom: 150px;
}
.link-button{
    background: orange;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}
.left-side{
    width: 50%;
    padding-left:10%;
    padding-right:25px;
}
.right-side img {
    width: 75%;
    padding-left:10%;
}
.top-header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second-header{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.third-header{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.job-duration{
    color: orange;
}
.experience-unit{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin: 0 5%;
    border-radius: 10px;
    /* border-left: 10px solid pink; */
    /* border: 1px solid gray; */
    
}
footer p {
    text-align: center;
}